<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<!-- Start of the Form -->
<form action="/submit" method="post">
  <!-- Input Field for Science -->
  <label for="science">Science:</label><br> <!-- creates a name-->
  <input type="text" id="science" name="science" value="0"><br> <!-- creates a box to enter-->

  <!-- Input Field for Maths -->
  <label for="maths">Maths:</label><br>
  <input type="text" id="maths" name="maths" value="0"><br><br>

  <!-- Input Field for C -->
  <label for="c">C:</label><br>
  <input type="text" id="c" name="c" value="0"><br><br>

  <!-- Input Field for Data Science -->
  <label for="datascience">Data Science:</label><br>
  <input type="text" id="datascience" name="datascience" value="0"><br><br>

  <!-- Submit Button -->
  <input type="submit" value="Submit"> <!-- creates a button called Submit-->
</form> 
<!-- End of the Form -->

<!-- Explanation Text -->
<p>If you click the "Submit" button, the form data will be sent to a page called "/submit".</p>

</body>
</html>
